
.form{
  font-size: var(--font-size);
   color: var(--color-font);
}
.label{
    display: block;
    margin: 0 auto 20px;
    width: 75%;
}
.input{
    font-size: inherit;
    margin: 0 auto;
    display: block;
}
.submit{
  font-size: inherit;
    display: block;
    margin: auto;
}