:root {
  --color-game-bg: #545f7d;
  --color-game-play-box-bg: #44425e;
  --color-play-mark-line: #c4c4c4;
  --color-play-win-line: #af3d38;
  --color-modal-backdrop: rgba(0, 0, 0, 0.5);
  --color-font: #fcfdfd;

  --font-size: 32px;

  --game-width: 600px;
  --game-height: 400px;
 
  --play-stage-box-spacing: 5px;
  --play-stage-box-size: 112px;

  --mark-line-thickness: 9px;

  --game-play-stage-size: calc(var(--play-stage-box-size) * 3 + var(--play-stage-box-spacing) * 2);

  --mark-X-size: calc(var(--play-stage-box-size) +  var(--mark-line-thickness));
  --mark-O-size: calc(var(--play-stage-box-size) -  var(--mark-line-thickness) * 2);  
}

.button{
  font-size: inherit;
    cursor: pointer;
    margin-top: 24px;
    background: var(--color-game-play-box-bg);
    border: none;
    color: var(--color-play-mark-line);
    padding: 10px;
    border-radius: var(--mark-line-thickness);
}
.button:disabled{
      opacity: 0.2;
    cursor: none;
}

.container {
  height: 100vh;

  min-width: var(--game-width);
  min-height: var(--game-height);

  position: relative;
  color: var(--color-font)
}

.greeting-form{
     font-size: var(--font-size);
   color: var(--color-font);
}
.greeting-form__label{
    display: block;
    margin: 0 auto 20px;
    width: 75%;
}
.greeting-form__input{
  font-size: inherit;
}
.greeting-form__submit-btn{
  font-size: inherit;
    display: block;
    margin: auto;
    cursor: pointer;
}

.game {
  width: var(--game-width);
  height: var(--game-height);

  display: flex;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  padding: 19px 22px;

  background-color: var(--color-game-bg);
}
.game__score{
  font-size: var(--font-size);
  padding-left: 32px;  
  max-width: 176px;
}
.game__play-stage {
  position: relative;

  width: var(--game-play-stage-size);
  height: var(--game-play-stage-size);

  display: flex;
  flex-wrap: wrap;

  word-break: break-word;
}
.game__play-box {
  position: relative;

  width: var(--play-stage-box-size);
  height: var(--play-stage-box-size);

  margin: 0 var(--play-stage-box-spacing) var(--play-stage-box-spacing) 0; 

  background-color: var(--color-game-play-box-bg);

  cursor: pointer;
}

.game__play-box:nth-child(3n){
  margin-right: calc(var(--play-stage-box-spacing) * -1);
}
.game__play-mark{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
}

.game__play-mark.O{
  width: var(--mark-O-size);
  height: var(--mark-O-size);
  border: solid var(--mark-line-thickness) var(--color-play-mark-line);
  border-radius: 50%;
}

.game__play-mark.X{
  width: var(--mark-X-size);
  height: var(--mark-X-size);
}
.game__play-mark.X::before,
.game__play-mark.X::after{
  content: "";
  display: block;

  position: absolute;

  top: 50%;

  width: inherit;
  height: var(--mark-line-thickness);

  background-color: var(--color-play-mark-line);

}
.game__play-mark.X::before{
  transform: translateY(-50%) rotate(-45deg);
}
.game__play-mark.X::after{
  transform: translateY(-50%) rotate(45deg);
}

.game__win-line{
  position: absolute;
  width: 94%;
  height: var(--mark-line-thickness);
  background-color: var(--color-play-win-line);
}
.game__win-line--012{
  left: 3%;
  top: calc((var(--play-stage-box-size) - var(--mark-line-thickness)) / 2); 
}
.game__win-line--345{
  left: 3%;
    top: calc(50% - var(--mark-line-thickness) / 2);
}
.game__win-line--678{
  left: 3%;
  bottom: calc((var(--play-stage-box-size) - var(--mark-line-thickness)) / 2);
}
.game__win-line--036{    
  top: 3%;
  left: calc((var(--play-stage-box-size) + var(--mark-line-thickness))/ 2);
  transform-origin: top left;
  transform: rotate(90deg);
}
.game__win-line--147{
  top: 3%;
  left: calc(50% + var(--mark-line-thickness) / 2);
    transform-origin: top left;
  transform: rotate(90deg);
}
.game__win-line--258{
    top: 3%;
    right: calc((var(--play-stage-box-size) + var(--mark-line-thickness))/ 2);
    transform-origin: top right;
    transform: rotate(-90deg);
}

.game__win-line--048{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.game__win-line--246{
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.score__heading{margin:0;}
.score__player-info{margin: 0;
    margin-top: 24px;}
.score__next-game-btn{
  margin-top: 24px;
}


.Modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-modal-backdrop);
}

.Modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  max-width: 600px;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}
